.login {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: black;
    padding: 0 3rem;
}

.login > img {
    max-width: 30rem;
}

.login > a {
    padding: 1rem;
    border-radius: 99px;
    background-color: #1db954;
    font-weight: 800;
    color: white;
    text-decoration: none;
}